@import '/src/styles/variables';

.select {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.selectItem {
	padding: 10px 30px;
	transition: color 0.2s ease-in-out;

	&.active {
		border-bottom: $blue 2px solid;
		color: $blue;
	}
}
