@import '/src/styles/variables';

.root {
	position: relative;
	padding-right: 10px;
}

.userBtn {
	position: relative;
	display: flex;
	align-items: center;
	z-index: 2;
	> p {
		margin-left: 10px;
		font-size: 18px;
	}
}

.icon {
	color: $black;
}
