@import '/src/styles/variables';

.userBtn {
	position: relative;
	display: flex;
	align-items: center;
	color: $black;
	z-index: 2;
	> p {
		margin-left: 10px;
		font-size: 18px;
	}
}

.imgBlock {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	overflow: hidden;
	&.active {
		border: 1px solid $blue;
	}
}

.icon {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
