@import '/src/styles/variables';

.root {
	position: absolute;
	right: 0;
	top: -5px;
	z-index: 1;
	background-color: $white;
	box-shadow: 1px 1px 5px 0px rgba($color: $black, $alpha: 0.4);
	border-radius: 5px;
	padding: 50px 10px 20px 10px;

	min-width: 300px;

	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	pointer-events: none;

	&.active {
		opacity: 1;
		pointer-events: all;
	}
}

.list {
	display: flex;
	flex-direction: column;
	align-items: end;
}

.link {
	font-size: 17px;
	color: $black;

	&:not(:last-child) {
		margin-bottom: 10px;
	}
}
