@import '/src/styles/variables';
.root {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.form {
	width: 100%;
	max-width: 400px;
	height: 500px;

	padding: 15px 10px;

	box-shadow: 1px 1px 3px 2px $black-alpha;
	border-radius: 10px;
	> h1 {
		font: {
			size: 30px;
			weight: bold;
		}
		color: $blue;
		text-align: center;
	}
}
